# Pandas - 연습문제

In [23]:
import numpy as np
import pandas as pd
import seaborn as sns

In [27]:
titanic = sns.load_dataset('titanic')
mpg = sns.load_dataset('mpg')

In [24]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [28]:
iris.groupby('species').agg(['mean','std'])

           sepal_length           sepal_width           petal_length  \
                   mean       std        mean       std         mean
species
setosa            5.006  0.352490       3.428  0.379064        1.462
versicolor        5.936  0.516171       2.770  0.313798        4.260
virginica         6.588  0.635880       2.974  0.322497        5.552

                     petal_width
                 std        mean       std
species
setosa      0.173664       0.246  0.105386
versicolor  0.469911       1.326  0.197753
virginica   0.551895       2.026  0.274650

In [25]:
iris.groupby('species').describe()

           sepal_length                                              \
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width         \
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.428  ...        1.575  1.9        50.0  0.246
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.105386  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [26]:
s = iris[iris.species == 'setosa']['sepal_length']
Q1 = s.quantile(0.25)
Q3 = s.quantile(0.75)
IQR = Q3 - Q1
lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR
s[(s < lower)|(s > upper)] = np.nan     # '|' 는 or의 의미
s.mean(), s.std()

C:\Users\ICT01_15\anaconda3\lib\site-packages\pandas\core\series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)

(5.005999999999999, 0.3524896872134512)

In [22]:
def outlier_iqr():
    for species in ['setosa','versicolor','virginica']:
        for features in iris.columns[:-1]:
            s = iris[iris.species == species][features]
            Q1 = np.quantile(s, 0.25)
            Q3 = np.quantile(s, 0.75)
            IQR = Q3 - Q1
            lower = Q1 - 1.5 * IQR
            upper = Q3 + 1.5 * IQR
            s[(s < lower) | (s > upper)] = np.nan
    return s.mean(), s.std()

outlier_iqr(iris)

TypeError: outlier_iqr() takes 0 positional arguments but 1 was given

In [20]:
def outlier_iqr():
    for species in ['setosa','versicolor','virginica']:
        for features in iris.columns[:-1]:
            s = iris[iris.species == species][features]
            Q1 = np.quantile(s, 0.25)
            Q3 = np.quantile(s, 0.75)
            IQR = Q3 - Q1
            lower = Q1 - 1.5 * IQR
            upper = Q3 + 1.5 * IQR
            s[(s < lower) | (s > upper)] = np.nan
    return outlier_iqr(s).mean(), outlier_iqr(s).std()

In [21]:
outlier_iqr(iris)

TypeError: outlier_iqr() takes 0 positional arguments but 1 was given